@import "./mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//  Font import

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");

html {
  font-size: 60%;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  font-family: "Assistant", sans-serif;
  color-scheme: dark light;
}

body {
  background: var(--layout);
  overflow-x: hidden;
  color: var(--text-content);
  &::-webkit-scrollbar {
    display: none;
  }
}

.page {
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;

  &::after {
    content: "";
    background-image: url(../img/noise.jpg);
    width: 300%;
    height: 300%;
    left: -50%;
    top: -100%;
    animation: grain 8s steps(10) infinite;
    opacity: 0.3;
    position: fixed;
    z-index: -1;
  }

  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100lvh;
    background-image: radial-gradient(
        transparent 65%,
        rgba(0, 0, 0, 0.301) 100%
      ),
      radial-gradient(
        ellipse,
        rgba(0, 0, 0, 0.075) 50%,
        rgba(0, 0, 0, 0.438) 100%
      );
    z-index: 0;

    @include desktop {
      background-image: radial-gradient(
          transparent 80%,
          rgba(0, 0, 0, 0.301) 100%
        ),
        radial-gradient(
          ellipse,
          rgba(0, 0, 0, 0.075) 55%,
          rgba(0, 0, 0, 0.438) 100%
        );
    }
  }
}

// Section wrapper

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: max-content;
  min-height: 100svh;
  margin-inline: auto;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -4px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-transform: uppercase;
    font-size: clamp(7.5rem, -17.517rem + 67.6254vw, 22.6rem);
    font-family: "Inter", sans-serif;
    font-weight: 900;
    white-space: nowrap;
    line-height: 70%;
    color: var(--text-content);
    opacity: 0.1;
    filter: brightness(0.7);
    z-index: -100;
    transition: 1s;

    @include desktop {
      top: 3.7rem;
      right: 15rem;
      left: initial;
      border-right: 2px solid rgba(255, 255, 255, 0);
      font-size: 3rem;
      font-weight: 400;
      line-height: 137%;
      writing-mode: initial;
      opacity: 1;
      filter: brightness(1);
      font-weight: 400;
      z-index: 1;
    }
  }
}

h1 {
  font-size: clamp(3rem, 2.5357rem + 3.6652vw, 8.2rem);
  font-weight: 700;
  line-height: 1.15;
}

// Sections titles for accessibility
h2 {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
}

// Colors variables
:root {
  --layout: #252525;
  --layout-body: rgb(0, 0, 0);
  --layout-text: rgba(104, 104, 104, 0.08);
  --layout-text-in-deep: rgba(143, 143, 143, 0.075);
  --layout-menu: rgb(32, 32, 32);

  --text-content: rgb(255, 255, 255);
  --text-color: rgb(177, 223, 233);
  --text-menu: rgb(158, 158, 158);

  --more-color: #0c76a0;
  --repo-color: #138f0e;
  --mail-color: #b4a23b;

  --scroll-line: rgba(255, 255, 255, 0.637);
  --menu-line: rgb(48, 48, 48);

  --water-surface-color: rgb(0, 0, 0);
  --water-surface-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 140, 239, 1) 100%
  );

  --water-deep-color: rgba(0, 0, 0, 0.918);
  --water-deep-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(14, 76, 112, 1) 70%
  );
}

// Links styles

a {
  color: var(--text-content);
  text-decoration: none;

  &:visited {
    color: var(--scroll-line);
  }
}

// Animations

// FLoating effect for bear
@keyframes floating {
  50% {
    transform: translate(-3%, 5%);
  }
}

// Iceberg moving effect
@keyframes iceberg {
  50% {
    transform: translate(3%, -1%);
  }
}

// Glitch shadow part text
@keyframes glitch {
  0% {
    text-shadow: 2px 0px 0 rgba(255, 0, 0, 0), -2px -1px 0 rgba(0, 255, 0, 0),
      -1px 2px 0 rgba(0, 0, 255, 0);
  }
  14% {
    text-shadow: 2px 0px 0 rgba(255, 0, 0, 0.75),
      -2px -1px 0 rgba(0, 255, 0, 0.75), -1px 2px 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -2px -1px 0 rgba(255, 0, 0, 0.75),
      1px 1px 0 rgba(0, 255, 0, 0.75), -2px -2px 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -2px -1px 0 rgba(255, 0, 0, 0.75),
      1px 1px 0 rgba(0, 255, 0, 0.75), -2px -2px 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 1px 2px 0 rgba(255, 0, 0, 0.75),
      2px 0px 0 rgba(0, 255, 0, 0.75), 0px -2px 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 1px 2px 0 rgba(255, 0, 0, 0.75),
      2px 0px 0 rgba(0, 255, 0, 0.75), 0px -2px 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: 0px 0px 0 rgba(255, 0, 0, 0), -0px -0px 0 rgba(0, 255, 0, 0),
      0px 0px 0 rgbrgba(0, 0, 255, 0);
  }
}

// Glitch top side text
@keyframes glitch-first {
  0% {
    transform: translate(0px, 0px);
  }
  14% {
    transform: translate(0px, -1px);
  }
  15% {
    transform: translate(-1.5px, -0.5px);
  }
  49% {
    transform: translate(-1.5px, -0.5px);
  }
  50% {
    transform: translate(1.5px, 0px);
  }
  99% {
    transform: translate(0px, 0px);
  }
  100% {
  }
}

// Glitch bottom side text
@keyframes glitch-last {
  0% {
    transform: translate(0px, 0px);
  }
  14% {
    transform: translate(0px, 1px);
  }
  15% {
    transform: translate(1.5px, 0.5px);
  }
  49% {
    transform: translate(1.5px, 0.5px);
  }
  50% {
    transform: translate(1.5px, 0.5px);
  }
  99% {
    transform: translate(-1.5px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

// Grain background mask animation
@keyframes grain {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

// Text infinite ticker
@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
