@import "./mixins.scss";

/* assistant-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/assistant-v18-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/assistant-v18-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* assistant-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/assistant-v18-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/assistant-v18-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* assistant-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/assistant-v18-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/assistant-v18-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* assistant-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/assistant-v18-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/assistant-v18-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* assistant-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/assistant-v18-latin-800.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/assistant-v18-latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v12-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 60%;
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  color-scheme: dark light;
}

body {
  font-family: "Assistant", sans-serif;
  color: var(--text-content);
  &::-webkit-scrollbar {
    display: none;
  }
}

.App {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::before {
    content: "";
    position: fixed;
    background-image: url(../img/noise.webp);
    width: 300%;
    height: 300%;
    left: -50%;
    top: -100%;
    animation: grain 8s steps(10) infinite;
    opacity: 0.3;
    z-index: 0;
  }
}

// Section wrapper
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  min-height: 100svh;
  width: 100%;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -4px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-transform: uppercase;
    font-size: clamp(7.5rem, -17.517rem + 67.6254vw, 22.6rem);
    font-family: "Inter", sans-serif;
    font-weight: 900;
    white-space: nowrap;
    line-height: 70%;
    color: var(--text-content);
    opacity: 0.1;
    filter: brightness(0.7);
    z-index: -100;
    transition: 1s;

    @include tablet {
      font-size: 12vh;
    }

    @include desktop {
      top: 53px;
      right: 10rem;
      left: initial;
      font-size: 2.3rem;
      font-weight: 400;
      color: var(--text-menu);
      text-transform: capitalize;
      font-style: italic;
      writing-mode: initial;
      opacity: 1;
      filter: brightness(1);
      z-index: 1;
    }
  }
}

// Sections titles for accessibility
h2 {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 0;
}

// Colors variables
:root {
  --layout: #252525;
  --layout-body: rgb(0, 0, 0);
  --layout-text: rgba(104, 104, 104, 0.08);
  --layout-text-in-deep: rgba(143, 143, 143, 0.075);
  --layout-menu: rgb(32, 32, 32);

  --text-content: rgb(255, 255, 255);
  --text-color: rgb(143, 234, 255);
  --text-menu: rgb(158, 158, 158);

  --more-color: #0c76a0;
  --repo-color: #138f0e;
  --mail-color: #b4a23b;

  --menu-line: rgb(48, 48, 48);

  --water-surface-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 140, 239, 1) 100%
  );

  --water-deep-color: rgba(0, 0, 0, 0.918);
  --water-deep-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(14, 76, 112, 1) 70%
  );
}

// Links styles

a {
  color: var(--text-content);
  text-decoration: none;

  &:visited {
    color: var(--scroll-line);
  }
}

// Animations

// Grain background mask animation
@keyframes grain {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}
