@import "../styles/mixins.scss";

.about {
  justify-content: flex-end;
  align-items: center;
  padding: 40px 20px;
  gap: 30px;
  @include desktop {
    justify-content: center;
    flex-direction: row;
    padding: 0;
    gap: 0;
  }

  &::before {
    content: "à propos";
    transform: translateX(-100vh);
    @include desktop {
      opacity: 0;
      transform: translateX(50px);
    }
  }

  &--show {
    &::before {
      transform: translateY(0);
      @include desktop {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    width: fit-content;
    cursor: default;

    .presentation {
      margin: 2rem 0;
      font-size: 2.5rem;
    }
  }

  .floe-container {
    display: flex;
    opacity: 0;
    transform: translateY(-10em);
    transition: 1s ease;
    z-index: -10;

    &--show {
      transform: translateY(0);
      opacity: 1;
    }

    .floe {
      filter: brightness(0.8);
      width: 200px;
      height: 256.13px;
      animation: floating 6s ease-in-out infinite;
      @include desktop {
        width: 300px;
        height: 384.2px;
      }
    }
  }
}

// FLoating effect for bear
@keyframes floating {
  50% {
    transform: translate(-3%, 5%);
  }
}

// Iceberg moving effect
@keyframes iceberg {
  50% {
    transform: translate(3%, -1%);
  }
}
