@import "../styles/mixins.scss";

.career {
  justify-content: flex-start;
  gap: 5rem;
  padding: 5rem 0;

  @include desktop {
    justify-content: center;
    align-items: center;
  }

  &::before {
    content: "parcours";
    transform: translateX(-100vw);
    @include desktop {
      opacity: 0;
      transform: translateX(50px);
    }
  }

  &--show {
    &::before {
      transform: translateX(0);
      @include desktop {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @include desktop {
      position: absolute;
      bottom: 0px;
      opacity: 0;
      visibility: hidden;
      width: 360px;
      overflow: hidden;
      transition: 0.5s;
      z-index: 1;
      &--show {
        bottom: 150px;
        opacity: 1;
        visibility: visible;
      }
    }

    .sub-container {
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      gap: 4px;
      opacity: 0;
      transform: translateY(30px);
      filter: blur(5px);
      transition: 0.8s;
      transition-delay: 0.4s;
      &--show {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
        z-index: 100;
        @include desktop {
          transform: translateY(0);
        }
      }
    }

    .text-line {
      display: flex;
      position: relative;
      align-items: center;
      height: 1.3px;
      width: 60%;
      margin-top: 20px;
      background-color: var(--text-menu);
      &::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        rotate: 45deg;
        background-color: var(--text-menu);
      }
      @include desktop {
        display: none;
      }

      &.lt {
        justify-content: end;
        align-self: start;
        transform: translateX(-100vw);
        transition: all 0.6s;
        &--show {
          transform: translateX(0);
        }
      }

      &.rt {
        justify-content: start;
        align-self: end;
        transform: translateX(100vw);
        transition: all 0.8s;
        &--show {
          transform: translateX(0);
        }
      }
    }

    h3 {
      text-transform: uppercase;
      font-size: clamp(1.5rem, 1.4202rem + 0.4405vw, 2.125rem);
      font-weight: 700;
    }

    .date {
      font-size: clamp(1.125rem, 1.0452rem + 0.4405vw, 1.75rem);
      font-weight: 400;
    }

    .text {
      font-size: clamp(1.375rem, 1.2952rem + 0.4405vw, 2rem);
      line-height: 1.6;
      font-weight: 600;
    }

    .grad {
      font-size: clamp(1.375rem, 1.2952rem + 0.4405vw, 2rem);
      font-weight: 600;
      text-transform: uppercase;
      animation: glitch 500ms infinite;
      text-shadow: 2px 1px 0 rgba(255, 0, 0, 0.75),
        -2px -1px 0 rgba(0, 255, 0, 0.75), 2px 1px 0 rgba(0, 0, 255, 0.75);

      &--right {
        position: relative;
        & span {
          position: absolute;
          top: 0;
          right: 0;
          &:first-child {
            animation: glitch 650ms infinite;
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
            transform: translate(-0.8px, -0.5px);
            opacity: 0.8;
          }
          &:last-child {
            animation: glitch 375ms infinite;
            clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
            transform: translate(0.8px, 0.5px);
            opacity: 0.8;
          }
        }
      }

      &--left {
        position: relative;
        & span {
          position: absolute;
          top: 0;
          left: 0;
          &:first-child {
            animation: glitch 650ms infinite;
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
            transform: translate(-0.8px, -0.5px);
            opacity: 0.8;
          }
          &:last-child {
            animation: glitch 375ms infinite;
            clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
            transform: translate(0.8px, 0.5px);
            opacity: 0.8;
          }
        }
      }
    }

    &.block-1 {
      text-align: right;
      @include desktop {
        max-height: 440px;
        height: 30%;
        transform: translate(-20rem, -40rem);
        border-right: 1.5px solid #fff;
        & > .sub-container {
          transform: translateY(0) translateX(100%);
          &--show {
            transform: translateY(0) translateX(0);
          }
        }
      }
      &::before {
        right: -30px;
      }
    }

    &.block-2 {
      text-align: left;
      @include desktop {
        max-height: 485px;
        height: 30%;
        border-left: 1.5px solid #fff;
        transform: translate(42rem, -24rem);
        & > .sub-container {
          transform: translateY(0) translateX(-100%);
          &--show {
            transform: translateY(0) translateX(0);
          }
        }
      }
      &::before {
        left: -30px;
      }
    }

    &.block-3 {
      text-align: right;
      @include desktop {
        max-height: 290px;
        height: 30%;
        transform: translate(-42rem, -11rem);
        border-right: 1.5px solid #fff;
        & > .sub-container {
          transform: translateY(0) translateX(100%);
          &--show {
            transform: translateY(0) translateX(0);
          }
        }
      }
      &::before {
        right: -30px;
      }
    }
  }

  .iceberg-top {
    position: absolute;
    align-self: center;
    max-width: 779px;
    width: 80%;
    height: auto;
    bottom: 7rem;
    object-fit: contain;
    object-position: -5px 0px;
    animation: iceberg 7s ease-in-out infinite;
    z-index: -1;
    @include desktop {
      z-index: 1;
      width: 100%;
      bottom: 13rem;
    }
  }

  .water-top {
    position: absolute;
    width: 100%;
    max-height: 650px;
    height: 50%;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 40%,
      #068cefcc 100%
    );
    z-index: -1;
    @include desktop {
      height: 100%;
    }
  }
}
