@import "../styles/mixins.scss";

.project {
  align-items: center;
  justify-content: end;
  @include desktop {
    justify-content: center;
  }

  &::before {
    content: "projets";
    transform: translateY(100vh);
    z-index: -1;
    @include desktop {
      opacity: 0;
      transform: translateX(50px);
    }
  }

  &--show {
    &::before {
      transform: translateY(0px);
      @include desktop {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .deep-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--water-deep-color);
    z-index: -2;
  }

  .container-project {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
  }

  .project-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
  }
}
