@import "../styles/mixins.scss";

.project {
  align-items: center;

  &::before,
  &::after {
    content: "PROJECTS";
    transform: translateY(100%);
    z-index: -1;
  }

  &--show {
    &::before,
    &::after {
      transform: translateY(0px);
    }

    @include desktop {
      right: initial;
      left: initial;
    }
  }

  .deep-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--water-deep-color);
    z-index: -1;
  }

  .container-project {
    width: 100%;
    height: 100%;
  }
  @include desktop {
    .container-project {
      position: relative;
      display: flex;
      width: 65%;
      height: 530px;

      .display-mockup {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .project-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: blur(5px);
    transition: 1.35s ease;
    @include desktop {
      flex-direction: row;
      gap: 30px;
    }
    &--show {
      opacity: 1;
      filter: blur(0);
    }
  }
}
