@import "../styles/mixins.scss";

.skill {
  &::before {
    content: "compétences";
    transform: translateY(-100vh);
    z-index: 0;
    @include desktop {
      opacity: 0;
      transform: translateX(50px);
    }
  }

  &--show {
    &::before {
      transform: translateY(0px);
      @include desktop {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .deep-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.918) 35%,
      rgb(14, 76, 112) 100%
    );
    z-index: -1;
  }

  .word-mask {
    display: none;
    @include desktop {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--text-content);
      opacity: 0.1;
      filter: brightness(0.7);
      bottom: 0;
      left: 0;
      transition: all 0.2s;
      z-index: -1;
      span {
        text-transform: uppercase;
        font-family: "Inter", sans-serif;
        font-weight: 900;
        font-size: clamp(9.3rem, 7rem + 1.85vw, 13rem);
        letter-spacing: -0.05em;
        line-height: 75%;
      }
    }
  }

  .iceberg-down {
    position: absolute;
    align-self: center;
    max-width: 859px;
    width: 80%;
    height: auto;
    top: 0;
    filter: brightness(0.5);
    object-fit: contain;
    animation: iceberg 7s ease-in-out infinite;
    @include desktop {
      width: 100%;
      z-index: -1;
    }
  }

  .content-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--text-content);

    .list-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 55rem;
      gap: 1.3em;
      padding: 2em;

      .element {
        display: inline-block;
        background-color: transparent;
        height: auto;
        text-align: center;
        position: relative;
        font-size: clamp(1.725rem, 1.6143rem + 0.5536vw, 2.5rem);
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid var(--text-content);
        padding: 0.7em 2rem;
        overflow: hidden;
        cursor: pointer;
        transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s all;

        &:hover {
          .main-element {
            opacity: 0;
          }
          & > .ticker-element {
            opacity: 1;
          }
        }

        .main-element {
          letter-spacing: 0.2rem;
          display: inline-block;
          opacity: 1;
          transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s all;
          transform: translateX(100px);

          &--show {
            transform: translateX(0);
          }
        }

        .ticker-element {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
          opacity: 0;
          transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s all;

          .ticker-element-inner {
            width: fit-content;
            display: flex;
            position: relative;

            .replica {
              text-align: center;
              white-space: nowrap;
              padding: 0.7em 2rem;
              letter-spacing: 0.2rem;
              animation: ticker 1000ms linear infinite;
            }
          }
        }
      }
    }
  }
}

// Text infinite ticker
@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

// Iceberg moving effect
@keyframes iceberg {
  50% {
    transform: translate(3%, -1%);
  }
}
