.about {
  padding: 30px;
  gap: 37px;
  &::before {
    content: "ABOUT";
  }

  .text--var-1 {
    width: 70%;
    font-size: 37px;
    font-weight: 700;

    #colorized {
      color: var(--text-color);
    }
  }

  h1 {
    width: 90%;
    font-size: 24px;
    font-weight: 500;
  }

  .text--var-2 {
    width: 90%;
    font-size: 16px;
    font-weight: 400;
  }

  img {
    position: relative;
    width: 249px;
    height: 123px;
    margin-top: 36px;
    align-self: center;
  }
}
