@import "../styles/mixins.scss";

.flag {
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 120px;
  left: -30px;
  bottom: 20px;
  transform: rotate(45deg);
  background-color: black;
  z-index: 1;
  @include desktop {
    width: fit-content;
    left: 55px;
    bottom: 55px;
    background-color: transparent;
    transform: rotate(0);
  }

  a {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: rgba(128, 126, 126, 0.863);

    &:hover {
      color: var(--text-content);
    }
  }
}
