@import "../styles/mixins.scss";

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 25px;
  transition: 0.5s ease;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 60%,
    rgba(14, 76, 112, 1) 100%
  );
  @include desktop {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: 938px;
    filter: blur(10px);
    transform: scale(0.4);
  }

  &--open {
    height: 90vh;
    z-index: 100;
    @include desktop {
      visibility: visible;
      opacity: 1;
      height: 520px;
      width: 68%;
      filter: blur(0);
      transform: scale(1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/noise.jpg);
    width: 300%;
    height: 300%;
    left: -50%;
    top: -100%;
    animation: grain 8s steps(10) infinite;
    opacity: 0.3;
    z-index: -1;
  }
}

.modal {
  width: 100%;
  height: 100%;
  padding: 20px;

  .modal-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: 40px;

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      @include desktop {
        cursor: pointer;
        &:hover::after,
        &:hover::before {
          transform: rotate(0);
        }
      }

      &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 20px;
        transform: rotate(45deg);
        background-color: var(--text-content);
        transition: 0.15s;
      }
      &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 20px;
        transform: rotate(-45deg);
        background-color: var(--text-content);
        transition: 0.15s;
      }
    }

    .nav-tab {
      display: flex;
      align-items: center;
      gap: 15px;

      .more {
        background-color: transparent;
        border: none;
        a {
          background-color: var(--more-color);
          padding: 8px 12px;
          border-radius: 10px;
          font-size: 16px;
          @include desktop {
            transition: 0.2s;
            &:hover {
              filter: brightness(0.8);
            }
          }
        }
      }

      .repository {
        background-color: transparent;
        border: none;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          padding: 7px 12px;
          border-radius: 10px;
          font-size: 16px;
          background-color: var(--repo-color);
          @include desktop {
            transition: 0.2s;
            &:hover {
              filter: brightness(0.8);
            }
          }
        }

        i {
          font-size: 16px;
        }
      }
    }
  }

  .description {
    margin: 20px 0 20px;
    font-size: clamp(1.125rem, 1.0841rem + 0.1818vw, 1.375rem);
  }

  .phone {
    position: relative;
    margin: 30px auto;
    padding-bottom: 5px;
    width: 244px;
    height: 534px;
    overflow: hidden;
    @include desktop {
      display: none;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    .screen {
      position: absolute;
      width: 212px;
      height: 464px;
      top: 15px;
      left: 16px;
      border-radius: 23px;
      background-color: black;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      img {
        border-radius: 23px;
        vertical-align: sub;
      }
    }
  }

  .laptop {
    display: none;
    @include desktop {
      bottom: 10px;
      display: flex;
      height: auto;
      justify-content: center;
      left: 0;
      margin: 20px auto;
      overflow: hidden;
      position: absolute;
      right: 0;
      width: 500px;

      img {
        width: 100%;
        object-fit: cover;
      }

      .screen-laptop {
        position: absolute;
        height: 237px;
        width: 398px;
        top: 15px;
        background-color: black;
        overflow: scroll;
        &::-webkit-scrollbar {
          display: none;
        }

        img {
          width: 100%;
          vertical-align: sub;
          object-fit: cover;
        }
      }
    }
  }
}
// }
