@import "../styles/mixins.scss";

.scroll-line {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 25px;
  height: 90px;
  width: 20px;
  cursor: default;
  z-index: -1;
  @include desktop {
    left: initial;
    right: 104px;
  }

  .scroll-text {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 14px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--scroll-line);
    text-shadow: -1px 1px var(--text-color);
    animation: scrollBounce 0.8s infinite forwards;
  }
  &:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 9px;
    background-color: var(--text-content);
    transform: rotate(-40deg);
    bottom: 25px;
    margin-right: 5px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 9px;
    background-color: var(--text-content);
    rotate: 40deg;
    bottom: 25px;
    margin-left: 5px;
  }
}

@keyframes scrollBounce {
  0% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(6px);
  }
}
