@import "../styles/mixins.scss";

.scroll-line {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  .scroll-text {
    position: absolute;
    bottom: 83px;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--scroll-line);
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 74px;
      background-color: var(--scroll-line);
      bottom: 45px;
      left: 3px;
    }
  }
}
