.skill {
  &::before {
    content: "SKILLS";
    z-index: 1;
  }

  .deep-mask {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100vh;
    filter: brightness(0.8);
    background-color: var(--water-deep-color);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.918) 35%,
      rgba(14, 76, 112, 1) 100%
    );

    .iceberg-down {
      object-fit: cover;
    }
  }

  .content-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    align-content: center;
    padding: 0 40px;
    z-index: 1;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex: 1;
      gap: 20px;
      padding-right: 20px;
      height: fit-content;
      border-right: 1px solid var(--scroll-line);

      li {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
