@import "../styles/mixins.scss";

.tag {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  gap: 10px;
  @include desktop {
    align-self: center;
  }
  span {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--more-color);
    font-size: clamp(1.2rem, 1.1361rem + 0.3524vw, 1.7rem);
    font-weight: 600;
    text-transform: uppercase;
  }
}
