@import "../styles/mixins.scss";

.word-wrapper {
  display: flex;
  font-weight: 700;

  .word-container {
    overflow: hidden;
    margin: -2rem 0;
  }

  .word-one,
  .word-two,
  .word-three {
    white-space: nowrap;
    transform: translateY(100px);
    transition: 1s ease 0.2s;

    &--show {
      transform: translateY(0);
    }
  }

  .word-letter {
    display: inline-block;
    filter: brightness(0.7);
    font-size: 11.5vw;
    transition: all 0.3s ease;
    @include tablet {
      font-size: clamp(2rem, 2.8rem + 3.6652vw, 8.2rem);
    }
    @include desktop {
      font-size: clamp(4rem, 2.8rem + 3.6652vw, 8.2rem);
      line-height: 1.14;
    }

    &:hover {
      filter: brightness(1);
    }
  }
}
