.word-wrapper {
  .word-container {
    overflow: hidden;
  }

  .word-one,
  .word-two,
  .word-three {
    transform: translateY(100px);
    transition: 1s ease 0.2s;

    &--show {
      transform: translateY(0);
    }
  }

  .word-letter {
    display: inline-block;
    transition: 0.35s cubic-bezier(0.5, 3, 0.5, 1);

    &:hover {
      transform: translateY(-5px) scale(0.9, 1.1);
      color: var(--text-color);
    }

    &--show {
      transform: translateY(0);
    }
  }
}
